﻿@model RegieMag.ViewModels.ProductIndexViewModel
@using PagedList.Mvc
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Produsele mele";
}
<h2>@ViewBag.Title</h2>
<p>
    @(String.IsNullOrWhiteSpace(Model.Search) ? "Toate rezultatele:" : "You search for " + Model.Search + " found") @Model.Products.TotalItemCount produse
</p>
<p>
    @if (Request.IsAuthenticated)
    {
        @Html.ActionLink("Adauga produs", "Create", "Products")
    }
</p>
<table class="table">
    <tr>
        <th>
            Categorie
        </th>
        <th>
            Nume
        </th>
        <th>
            Descriere
        </th>
        <th>
            Pret
        </th>
        <th>
            Postat de
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model.Products)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Owner.FirstName)
            </td>
            <td>
                @if (Request.IsAuthenticated && User.IsInRole("User"))  
                {
                    @Html.ActionLink("Editeaza", "Edit", "Products", new { id = item.ID }, null)
                    @Html.Raw(" | ")
                    @Html.ActionLink("Sterge", "Delete", "Products", new { id = item.ID }, null)
                }
            </td>
        </tr>
    }
</table>
<div>
    Pagina @(Model.Products.PageCount < Model.Products.PageNumber ? 0 : Model.Products.PageNumber) din @Model.Products.PageCount
    @Html.PagedListPager(Model.Products, page => Url.Action("Index", new { category = "abc", Search = "abc", sortBy = "price_lowest", page }))
</div>