﻿@model RegieMag.Models.EditUserViewModel

<hr />
@Html.ValidationSummary(true, "", new { @class = "text-danger" })
<div class="form-group">
    @Html.LabelFor(model => model.Email, htmlAttributes: new{ @class = "control-label col-md-2"})
    <div class="col-md-10">
        @Html.EditorFor(model => model.Email, new{ htmlAttributes = new{ @class = "form-control", @readonly = "readonly" }})
        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.FirstName, htmlAttributes: new{ @class = "control-label col-md-2"})
    <div class="col-md-10">
        @Html.EditorFor(model => model.FirstName, new{ htmlAttributes = new{ @class = "form-control" }})
        @Html.ValidationMessageFor(model => model.FirstName, "", new{ @class = "text-danger"})
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.LastName, htmlAttributes: new{ @class = "control-label col-md-2"})
    <div class="col-md-10">
        @Html.EditorFor(model => model.LastName, new{ htmlAttributes = new{ @class = "form-control"}})
        @Html.ValidationMessageFor(model => model.LastName, "", new{ @class = "text-danger"})
    </div>
</div>
