﻿@model RegieMag.ViewModels.ProductViewModel

<div class="form-group">
    <label class = "control-label col-md-2">Nume</label>
    <div class="col-md-10">
        @Html.EditorFor(model => model.Name, new{ htmlAttributes = new {  @class = "form-control"}})
        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-2">Descriere</label>
    <div class="col-md-10">
        @Html.EditorFor(model => model.Description, new{ htmlAttributes = new { @class ="form-control"}})
        @Html.ValidationMessageFor(model => model.Description, "", new{ @class = "text-danger"})
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-2">Pret</label>
    <div class="col-md-10">
        @Html.EditorFor(model => model.Price, new{ htmlAttributes = new{@class = "form-control" }})
        @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-2">Categorie</label>
    <div class="col-md-10">
        @Html.DropDownListFor(vm => vm.CategoryID, Model.CategoryList, htmlAttributes: new { @class = "form-control"})
        @Html.ValidationMessageFor(model => model.CategoryID, "", new{ @class = "text-danger"})
    </div>
</div>

<div class="form-group">
    <label class="control-label col-md-2">Imaginea @(1):</label>
    <div class="col-md-10">
        @Html.DropDownListFor(vm => vm.ProductImages, Model.ImageLists[0], "Alege o imagine",htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.ImageLists, "", new{@class = "text-danger"})
    </div>
</div>

