﻿@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1 align="center">Bun venit pe RegieMag</h1>
</div>
<div class="jumbotron" align="center">
    <p>Regie Mag este un magazin online de unde poti cumpara orice ai nevoie de la studenti din regie.</p>
    <ul style="list-style: none;">
        <li>@Html.ActionLink("Register", "Register", "Account", new { returnUrl = HttpContext.Current.Request.Url.AbsolutePath }, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", new { returnUrl = HttpContext.Current.Request.Url.AbsolutePath }, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
</div>