﻿@model RegieMag.Models.Product

@{
    ViewBag.Title = "Delete";
}

<h3>Esti sigur ca vrei sa stergi postarea?</h3>
<div>
    <h4>Produs</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Categorie
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Name)
        </dd>

        <dt>
            Nume
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Descriere
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            Pret
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <a href="@Url.Action("DeleteConfirmed", "Products", new { id = @Model.ID })">Sterge</a> |
            @Html.ActionLink("Inapoi la lista", "Index", "Categories")
        </div>
    }
</div>
