﻿@model RegieMag.ViewModels.ProductViewModel

@{
    ViewBag.Title = "Editeaza produs";
}
<h2>@ViewBag.Title</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)
        @Html.Partial("_ProductEditCreatePartial", Model)


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Salveaza" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Inapoi la lista", "Index", "Categories")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
