﻿@model RegieMag.ViewModels.ProductIndexViewModel
@using PagedList.Mvc
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Bun venit!";
}

<h2>@ViewBag.Title</h2>

<p>
    @(String.IsNullOrWhiteSpace(Model.Search) ? "Toate rezultatele:" : "Ai cautat dupa \"" + Model.Search + "\". S-au gasit ") @Model.Products.TotalItemCount produse
</p>

<p>
    @using (Html.BeginForm("Index", "Products", FormMethod.Get))
    {
        <label>Filtreaza dupa categorie:</label> @Html.DropDownListFor(vm => vm.Category, Model.CatFilterItems, "Toate");
        <label>Sorteaza dupa:</label>
        @Html.DropDownListFor(vm => vm.SortBy, new SelectList(Model.Sorts, "Value", "Key"), "Implicit")
        <input type="submit" value="Filtreaza" />
        <input type="hidden" name="Search" id="Search" value="@Model.Search" />
    }
</p>
<table class="table">
    <tr>
        <th>
            Categorie
        </th>
        <th>
            Nume
        </th>
        <th>
            Descriere
        </th>
        <th>
            Pret
        </th>
        <th>
            Postat de
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model.Products)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Category.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Owner.FirstName)
        </td>
    </tr>
    }
</table>
<div>
    Pagina @(Model.Products.PageCount < Model.Products.PageNumber ? 0 : Model.Products.PageNumber) din @Model.Products.PageCount
    @Html.PagedListPager(Model.Products, page => Url.Action("Index", new { category = @Model.Category, Search = @Model.Search, sortBy = @Model.SortBy, page }))
</div>