﻿@model RegieMag.Models.RegisterViewModel

@{
    ViewBag.Title = "Register";
}

<h2>@ViewBag.Title</h2>


@using (Html.BeginForm("Register", "Account", new { ReturnUrl = ViewBag.ReturnUrl },FormMethod.Post)) 
{
    
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.Partial("_CreateRegisterUserPartial", Model);
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
